# Servidor Web
Flask==3.1.2
gunicorn==23.0.0

# Inteligencia Artificial y Procesamiento de Datos
tensorflow==2.17.0
tensorflow-intel==2.17.0; sys_platform == 'win32'
keras==3.12.2
numpy==1.26.4
protobuf==4.25.9
Pillow==12.0.0
ml-dtypes==0.3.2
